{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Golden Rule</h4>
                <p class="card-description">
                Add new golden rule from here
                </p>
                <form class="forms-sample" action="{% url 'add-golden-rule' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Voucher Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="voucher_type_id" required>
                                        <option value="" disabled selected>Select Voucher Type</option>
                                        {% for x in list_voucher_types %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Debit Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple w-100"  multiple="multiple" name="debit_accounting_group_ids[]" required>
                                        <option value="" disabled>Select Entity</option>
                                        {% for x in list_account_group %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Credit Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple w-100"  multiple="multiple" name="credit_accounting_group_ids[]" required>
                                        <option value="" disabled>Select Entity</option>
                                        {% for x in list_account_group %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}