{% extends "users/layout/app.html" %}
{% block content %}
<style>
    .table > :not(:last-child) > :last-child > *, .jsgrid .jsgrid-table > :not(:last-child) > :last-child > *
        {
            border: 1px solid #515151 !important;  
        }
table .select2{
        width: 172.8646px !important;
    }
    table .select2-container--default .select2-selection--single:read-only{
        background-color: 1c1c1c !important;
        border: 1px solid #000 !important;
        height: 10px !important;
    }
    table .select2-container--default .select2-selection--single .select2-selection__rendered {
        line-height: 10px !important;
    }
    table .input{
        border: 1px solid #000 !important;
        height: 28px;
        border-radius: 3px;
    }

    /* ---   messgae  ---- */
    .border-dashed {
          border-style: dashed !important;
          border-color: #e4e6ef
    }

    .rounded {
        border-radius: .475rem !important
    }

    .svg-icon.svg-icon-warning {
        color: #ffc700
    }

    .attention-message{
        color: wheat;
    }
</style>
{% if get_debit_account_ledger %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Purchase Invoice</h4>
                <p class="card-description">
                Add new purchase invoice from here
                </p>
                <form class="forms-sample" action="{% url 'add-purchase-invoice' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group row">
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 status" name="status" required>
                                        <option value="Pending"  selected>Pending</option>
                                        <option value="Approved" >Approved</option>
                                        <option value="Draft" >Draft</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entity</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 entity_data" name="entity_id" required>
                                        <option value="" disabled selected>Select Entity</option>
                                        {% for x in list_entity %}
                                        <option value="{{x.id}}" {% if x.id|slugify == common_user_data.default_entity_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 branch" name="branch_id" required>
                                        <option value="" disabled selected>Select Branch</option>
                                        {% for x in list_branch %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Voucher Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="voucher_type_id" id="voucher_type" required>
                                        <option value="" disabled selected>Select Voucher Type</option>
                                        {% for x in list_voucher_types %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Order Number</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control order_number" id="order_number" placeholder="Order Number" name="order_number" readonly>
                                    <input type="hidden" name="order_number" class="order_number">
                                </div>
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="date" placeholder="Date" name="date" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Due Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="dueDate" placeholder="Due Date" name="due_date" required>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Due Days</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control due_days" placeholder="Due Days" name="due_days" readonly>
                                    <input type="hidden" class="due_days" name="due_days">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Debit Ledger</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 debit_ledger_id" name="debit_ledger_id" required>
                                        <option value="" disabled selected>Select Debit Ledger</option>
                                        {% for x in get_debit_account_ledger %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Credit Ledger</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="credit_ledger_id" required>
                                        <option value="" disabled selected>Select Credit Ledger</option>
                                        {% for x in get_credit_account_ledger %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="table-responsive">
                            <table id="myTable" class="table table-striped addrowtable" >
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Product Code</th>
                                        <th>Previous Purchase</th>
                                        <th>Unit</th>
                                        <th>Quanity</th>
                                        <th>Rate</th>
                                        <th>Discount Type</th>
                                        <th>Discount</th>
                                        <th>Pre Tax Amount</th>
                                        <th>Tax</th>
                                        <th>Tax Amount</th>
                                        <th>Amount</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <p><select class="js-example-basic-single w-100 selectatr selectproduct" name="product[0]product_id" id="product_id0" data-id="0" required>
                                                <option value="" disabled selected>Select Product</option>
                                                {% for x in list_products %}
                                                <option value="{{x.id}}">{{x.name}}</option>
                                                {% endfor %}
                                            </select></p>
                                            <p class="card-description" style="color: red; display:none; margin-bottom: -20px !important;" id="error0">
                                                Please select product
                                            </p>
                                            <p>
                                                <select class="js-example-basic-single w-100" name="product[0]godown_id" id="godown_id0">
                                                    <option value="" disabled selected>Select Godown</option>
                                                </select>
                                            </p>
                                            <p>
                                                <select class="js-example-basic-single w-100" name="product[0]rack_id" id="rack_id0">
                                                    <option value="" disabled selected>Select Rack</option>
                                                </select>
                                            </p>
                                            <select class="js-example-basic-single w-100" name="product[0]batch_id" id="batch_id0">
                                                <option value="" disabled selected>Select Batch</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="js-example-basic-single w-100 selectatr" name="product[0]product_code" id="product_code0" required>
                                                <option value="" disabled selected>Product Code</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="js-example-basic-single w-100 prevoius_purchase" name="product[0]prevoius_purchase" id="prevoius_purchase0" data-id="0">
                                                <option value="" disabled selected>Select Previous Purchase</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="js-example-basic-single w-100" name="product[0]unit_id" id="unit_id0">
                                                <option value="" disabled selected>Select Unit</option>
                                            </select>
                                        </td>

                                        <td>
                                            <input class="input" type="text" name="product[0]quantity" id="quantity0" data-id="0" required/>
                                        </td>
                                        <td>
                                            <input class="input" type="text" name="product[0]purchase_rate" id="purchase_rate0" data-id="0" required/>
                                        </td>
                                        <td>
                                            <select class="js-example-basic-single w-100 input" name="product[0]discount_type" id="discount_type0" >
                                                <option value="" disabled selected>Select Discount Type</option>
                                                <option value="Percentage">Percentage( % )</option>
                                                <option value="Amount">Amount</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input class="input" type="text" name="product[0]discount" id="discount0" data-id="0" required/>
                                        </td>
                                        <td>
                                            <input class="input pretax_amount0" type="text" id="pretax_amount0" data-id="0" readonly/>
                                            <input type="hidden" class="pretax_amount0" name="product[0]pretax_amount0">
                                        </td>
                                        <td>
                                            <select class="js-example-basic-single w-100 tax" name="product[0]tax_id" id="tax_id0">
                                                <option value="" disabled selected>Select Tax</option>
                                                <!-- {% for tax in list_all_tax %}
                                                <option value="{{tax.id}}" disabled selected>{{tax.tax}}</option>
                                                {% endfor %} -->
                                            </select>
                                        </td>
                                        <td>
                                            <input class="input tax_amount0" type="text" name="product[0]tax_amont" id="tax_amont0" readonly/>
                                            <input type="hidden" class="tax_amount0" name="product[0]tax_amount">
                                        </td>
                                        <td>
                                            <input class="input amount" type="text" id="amount0" data-id="0" readonly/>
                                            <input type="hidden" class="amount0" name="product[0]amount">
                                        </td>
                                        <td>
                                            <button type="button" class="addRow btn-add btn btn-block btn-success btn-sm font-weight-medium auth-form-btn me-3">
                                                Add
                                            </button>
                                            <button type="button" class="removeRow btn-add btn btn-block btn-danger btn-sm font-weight-medium auth-form-btn">
                                                remove
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Total Amount</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control total_amount" id="total_amount" placeholder="Total Amount" name="total_amount" readonly>
                                    <input type="hidden" class="total_amount" name="total_amount">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Round Off</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control roundoff" id="roundoff" placeholder="Round Off" name="roundoff">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleTextarea1" placeholder="Description" name="description" rows="9"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bill by bill</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="bill_by_bill_id">
                                        <option value="" disabled selected>Select Bill by bill</option>
                                        {% for x in get_bill_by_bill %}
                                        <option value="{{x.id}}">{{x.voucher_number_id.voucher_number}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bill Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleTextarea1" placeholder="Bill Description" name="bill_description" rows="9"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="number_of_input" value="0" id="number_of_input">
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="notice d-flex bg-light-warning rounded border-warning border border-dashed p-6 mb-5">
    <span class="svg-icon svg-icon-2tx svg-icon-warning me-3 ms-2 mt-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none">
            <rect opacity="0.3" x="2" y="2" width="20" height="20" rx="10" fill="currentColor" />
            <rect x="11" y="14" width="7" height="2" rx="1" transform="rotate(-90 11 14)" fill="currentColor" />
            <rect x="11" y="17" width="2" height="2" rx="1" transform="rotate(-90 11 17)" fill="currentColor" />
        </svg>
    </span>
    <div class="d-flex flex-stack flex-grow-1 mb-3">
        <!--begin::Content-->
        <div class="fw-bold">
            <h6 class="text-gray-900 fw-bolder pb-3 mt-3 attention-message">We need your attention!</h6>
            <div class="fs-6 text-gray-700 mb-3 attention-message">Setting a golden rule is key to a positive experience here. 
            <a href="{% url 'list-golden-rule' %}">Click</a> here to establish your golden rule now!
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    $(document).ready(function () {
        updateRemoveButtons();

        $(document).on("click", "#myTable .addRow", function () {
            var number_of_input = $('#number_of_input').val();
            var i               = parseInt(number_of_input) + 1;
            $('#number_of_input').val(i);

            var newRow          =   '<tr>' +
                                    '<td><p><select class="js-example-basic-single w-100 selectatr" name="product['+i+']product_id" id="product_id'+i+'" data-id="'+i+'" required>' +
                                    '<option value="" disabled selected>Select Product</option>' +
                                    '{% for x in list_products %}' +
                                    '<option value="{{x.id}}">{{x.name}}</option>' +
                                    '{% endfor %}' +
                                    '</select></p><p class="card-description" style="color: red; display:none; margin-bottom: -20px !important;" id="error'+i+'" >Please select product</p>' +
                                    
                                    '<p><select class="js-example-basic-single w-100" name="product['+i+']godown_id" id="godown_id'+i+'">'+
                                    '<option value="" disabled selected>Select Godown</option>'+
                                    '</select></p>'+
                                    '<p><select class="js-example-basic-single w-100" name="product['+i+']rack_id" id="rack_id'+i+'">'+
                                    '<option value="" disabled selected>Select Rack</option>'+
                                    '</select></p>'+
                                    '<p><select class="js-example-basic-single w-100" name="product['+i+']batch_id" id="batch_id'+i+'">'+
                                    '<option value="" disabled selected>Select Batch</option>'+
                                    '</select></p>'+
                                    '</td>'+

                                    '<td><select class="js-example-basic-single w-100" name="product['+i+']product_code" id="product_code'+i+'" required>' +
                                    '<option value="" disabled selected>Product Code</option>' +
                                    '</select></td>' +
                                    '<td><select class="js-example-basic-single w-100 prevoius_purchase" name="product['+i+']prevoius_purchase" id="prevoius_purchase'+i+'" data-id="'+i+'"><option value="" disabled selected>Select Previous Purchase</option></select></td>'
                                    +
                                    '<td><select class="js-example-basic-single w-100" name="product['+i+']unit_id" id="unit_id'+i+'" required>' +
                                    '<option value="" disabled selected>Select Unit</option>' +
                                    '</select></td>' +
                                    
                                    '<td><input class="input" type="text" name="product['+i+']quantity" id="quantity'+i+'" data-id="'+i+'" required/></td>' +
                                    '<td><input class="input" type="text" name="product['+i+']purchase_rate" id="purchase_rate'+i+'" data-id="'+i+'" required/></td>' +
                                    '<td>'+
                                    '<select class="js-example-basic-single w-100 input" name="product['+i+']discount_type" id="discount_type'+i+'" ><option value="" disabled selected>Select Discount Type</option><option value="Percentage">Percentage( % )</option><option value="Amount">Amount</option></select>'
                                    +'</td>'+
                                     '<td><input class="input" type="text" name="product[0]discount" id="discount'+i+'" data-id="'+i+'"/></td>'+
                                    '<td><input class="input pretax_amount'+i+'" type="text" id="pretax_amount'+i+'" data-id="'+i+'" readonly/><input type="hidden" class="pretax_amount'+i+'" name="product['+i+']pretax_amount'+i+'"></td>'+
                                    '<td><select class="js-example-basic-single w-100" name="product['+i+']tax_id" id="tax_id'+i+'">'+
                                    '<option value="" disabled selected>Select Tax</option>'+
                                    '</select>'+
                                    '</td>'+
                                    '<td>'+
                                    '<input class="input tax_amount'+i+'" type="text" name="product['+i+']tax_amont" id="tax_amont'+i+'" readonly/>'+
                                    '<input type="hidden" class="tax_amount'+i+'" name="product['+i+']tax_amount">'+
                                    '</td>'+
                                    '<td><input class="input amount" type="text" name="amount['+i+']" id="amount'+i+'" readonly/><input type="hidden" class="amount'+i+'" name="product['+i+']amount"></td>' +
                                    '<td>' +
                                    '<button type="button" class="addRow btn-add btn btn-block btn-success btn-sm font-weight-medium auth-form-btn me-3">Add</button>' +
                                    '<button type="button" class="removeRow btn-add btn btn-block btn-danger btn-sm font-weight-medium auth-form-btn">Remove</button>' +
                                    '</td>' +
                                    '</tr>';

            // Append the new row to the table
            $('#myTable tbody').append(newRow);

            // Initialize Select2 for the new row's selects
            $('.js-example-basic-single').select2();
        
            updateRemoveButtons();
        });

        // Remove row
        $("#myTable").on("click", ".removeRow", function () {
            var number_of_input     = $('#number_of_input').val();
            var i                   = parseInt(number_of_input) - parseInt(1);
            
            $('#number_of_input').val(i);

            $(this).closest("tr").remove();
            calculateTotalAmount();
            updateRemoveButtons();
            
        });

        function updateRemoveButtons() {
            var rowCount    = $("#myTable tbody tr").length;

            // Show/hide remove buttons based on the number of rows
            if (rowCount > 1) {
                $(".removeRow").show();
            } else {
                $(".removeRow").hide();
            }
        }
    });
</script>
<script>
    function calculateTotalAmount() {
        var totalAmount = 0;

        $('.amount').each(function () {
            var rowAmount = parseFloat($(this).val()) || 0;
            totalAmount += rowAmount;
        });
        
        $('.total_amount').val(totalAmount.toFixed(2));
    }
</script>
<script>
    $(document).ready(function () {
        calculateTotalAmount();
        $(document).on("change", ".selectatr", function () {
            var product_id      = $(this).val();
            var get_id          = $(this).attr('data-id');
            var debit_ledger_id = $('.debit_ledger_id').val();
            var quantity        = $('#quantity'+get_id).val();
            
            $('#error'+get_id).hide();

            $.ajax({
                url:"{% url 'get-product-data' %}",
                method:"get",
                data:{product_id:product_id,debit_ledger_id:debit_ledger_id},
                success:function(data)
                {  
                    var get_data            = data['models_to_return']
                    var product_code        = get_data['product_code'];
                    var unit_id             = get_data['unit_id'];
                    var unit                = get_data['unit'];
                    var unit_formal_name    = get_data['unit_formal_name'];
                    var purchase_rate       = get_data['purchase_rate'];
                    var tax                 = get_data['tax'];
                    var tax_id              = get_data['tax_id'];
                    var tax_rate            = get_data['tax_rate'];
                    var all_godown          = get_data['all_godown'];
                    var all_rack            = get_data['all_rack'];
                    var batch_data          = get_data['batch_data'];
                    var previous_product    = get_data['previous_product'];
                    var all_tax             = get_data['all_tax']; 
                    var cgst                = get_data['cgst']; 
                    var sgst                = get_data['sgst']; 
                    var igst                = get_data['igst'];     


                    tax_amount              = 0;
                    $('#tax_id'+get_id).empty();
                    $('.tax_amount'+get_id).val(0);
                    if(tax){
                        // var tax_amount      = (tax_rate / 100) * purchase_rate;
                        var tax_amount         = cgst + purchase_rate;

                        $('#tax_id'+get_id).empty();
                    
                        $('.tax_amount'+get_id).val(tax_amount);

                        $('#tax_id'+get_id).append(`
                                    <option value="" disabled selected>Tax</option>
                                `);

                        $.each(all_tax, function( key1, value ) 
                        {
                            $('#tax_id'+get_id).append(`<option value="`+value['id']+`" `+value['selected']+`>`+value['tax']+`</option>`);
                        });
                    }
                    
                    $('#batch_id'+get_id).empty();
                    $.each( batch_data, function( key1, value ) 
                    {
                        $('#batch_id'+get_id).append(`<option value="`+value['id']+`">`+value['name']+`</option>`);
                    });

                    $('#product_code'+get_id).empty();
                    $('#product_code'+get_id).append(`
                                <option value="" disabled>Product Code</option>
                                <option value="`+product_code+`" selected>`+product_code+`</option>
                            `);
                    
                    if(unit_id)
                    {
                        $('#unit_id'+get_id).empty();
                        $('#unit_id'+get_id).append(`
                                    <option value="" disabled selected>Unit</option>
                                    <option value="`+unit_id+`" selected>`+unit_formal_name+`</option>
                                `);
                    }
                    

                    if(all_godown)
                    {
                        $('#godown_id'+get_id).empty();
                        $('#godown_id'+get_id).append(`
                                    <option value="" disabled selected>Godown</option>
                                `);

                        $.each(all_godown, function( key1, value ) 
                        {
                            $('#godown_id'+get_id).append(`<option value="`+value['id']+`">`+value['name']+`</option>`);
                        });
                    }
                    
                    if(all_rack)
                    {
                        $('#rack_id'+get_id).empty();
                        $('#rack_id'+get_id).append(`
                                    <option value="" disabled selected>Rack</option>
                                `);
                        $.each(all_rack, function( key1, value ) 
                        {
                            $('#rack_id'+get_id).append(`<option value="`+value['id']+`">`+value['name']+`</option>`);
                        });
                    }

                    if(previous_product)
                    {
                        $('#prevoius_purchase'+get_id).empty();
                        $('#prevoius_purchase'+get_id).append(`
                                    <option value="" disabled selected>Select Previous Purchase</option>
                                `);

                        $.each(previous_product, function( key1, value ) 
                        {
                            $('#prevoius_purchase'+get_id).append(`<option value="`+value['id']+`">`+value['product_name']+`</option>`);
                        });
                    }
                    
                    if(purchase_rate)
                    {
                        $('#purchase_rate'+get_id).val(purchase_rate);
                    }
                    
                    if(quantity){
                        
                        var total_amount    = parseInt(quantity) * parseFloat(purchase_rate) + tax_amount;
                        
                        $('#amount'+get_id).val(total_amount);
                        $('.amount'+get_id).val(total_amount);
                    } 
                    calculateTotalAmount();
                } 
            });
        });



        $(document).on("change", ".input", function () {
            var get_id          = $(this).attr('data-id');
            var product_id      = $('#product_id'+get_id).val();
            var quantity        = $('#quantity'+get_id).val();
            var discount_type   = $('#discount_type'+get_id).val();
            var discount        = $('#discount'+get_id).val();
            var tax_amount      = $('.tax_amount'+get_id).val()

            if(product_id)
            {
                var purchase_rate   = $('#purchase_rate'+get_id).val();

                if(discount_type == 'Percentage'){
                    discount        = parseInt(discount);
                    discount        = (discount / 100) * parseFloat(purchase_rate);
                }
                else if(discount_type == 'Amount')
                {
                    discount        = discount;
                }
                else{
                    discount        = 0;
                }
                var pretax_amount   = (parseInt(quantity) * parseFloat(purchase_rate)) - parseFloat(discount);
                var total_amount    = pretax_amount + parseFloat(tax_amount);
                        
                $('#amount'+get_id).val(total_amount);
                $('.amount'+get_id).val(total_amount);
                $('.pretax_amount'+get_id).val(pretax_amount);
            }
            else{
                console.log(get_id);
                $('#error'+get_id).show();
            }
            calculateTotalAmount();
        });


        $(document).on("change", ".tax", function () {
            var get_id          = $(this).attr('data-id');
            var id              = $(this).attr('id');
            var purchase_rate   = $('#purchase_rate'+get_id).val();

            var tax_amount      = cgst + purchase_rate;

            $('.tax_amount'+get_id).val(tax_amount);

            calculateTotalAmount();
        });


        $(document).on("change", ".roundoff", function () {
            var value           = $(this).val();
            var total_amount    = ('.total_amount').val();
            var grand_total     = parseFloat(total_amount) + parseFloat(value)

            $('.total_amount').val(grand_total);
        });


        $(document).on("change", ".prevoius_purchase", function () {
            var get_id              = $(this).attr('data-id');
            var id                  = $(this).attr('id');
            var prevoius_purchase   = $('#prevoius_purchase'+get_id).val();

            $.ajax({
                url:"{% url 'get-previous-product-data' %}",
                method:"get",
                data:{id:prevoius_purchase},
                success:function(data)
                { 
                    var get_data        = data['models_to_return']
                    var quantity        = get_data['po_quantity'];
                    var amount          = get_data['amount'];
                    var discount_type   = get_data['discount_type'];
                    var discount        = get_data['discount'];
                    var pretax_amount   = get_data['pretax_amount'];
                    var product_rate    = get_data['product_rate'];
                    var tax_amount      = get_data['tax_amount'];
                    var all_tax         = get_data['all_tax']; 

                    if(all_tax){
                        $('#tax_id'+get_id).empty();
                        $('.tax_amount'+get_id).val(tax_amount);
                        $('#tax_id'+get_id).append(`
                                    <option value="" disabled selected>Tax</option>
                                `);
                        $.each(all_tax, function( key1, value ) 
                        {
                            $('#tax_id'+get_id).append(`<option value="`+value['id']+`" `+value['selected']+`>`+value['tax']+`</option>`);
                        });
                    }

                    if(quantity)
                    {
                        $('#quantity'+get_id).val(quantity);
                    }

                    if(product_rate)
                    {
                        $('#purchase_rate'+get_id).val(product_rate);
                    }

                    if(amount)
                    {
                        $('#amount'+get_id).val(amount);
                    }

                    if(discount_type)
                    {
                        $('#discount_type'+get_id).val(amount);
                    }

                    if(discount)
                    {
                        $('#discount'+get_id).val(discount);
                    }
                }
            });
            
        });
    });

</script>
<script>
    $(document).ready(function () {
        $(document).on("change", "#voucher_type", function () {
            var voucher_series_id   = $(this).val();
            $.ajax({
                url:"{% url 'get-purchase-voucher-number' %}",
                method:"get",
                data:{voucher_series_id:voucher_series_id},
                success:function(data)
                {  
                    voucher_number  = data['voucher_number'];
                    $('.order_number').val(voucher_number);  
                } 
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#date').on('change', function () {
            var selectedDate    = $(this).val();
            
            $('#dueDate').attr('min', selectedDate);
            calculateDueDays();
        });

        $('#dueDate').on('change', function () {
            var selectedDate    = $(this).val();

            $('#date').attr('max', selectedDate);
            calculateDueDays();
        });
    });

    function calculateDueDays()
    {
        var startDate       = new Date($('#date').val());
        var dueDate         = new Date($('#dueDate').val());

        if(startDate != 'Invalid Date' && dueDate != 'Invalid Date')
        {
            var timeDifference  = dueDate.getTime() - startDate.getTime();
            var daysDifference  = Math.floor(timeDifference / (1000 * 60 * 60 * 24));
            
            $('.due_days').val(daysDifference);
        }
    }
</script>
<script>
    
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '.entity_data', function(event){
            var entity_id = $(this).val();

            $.ajax({
                type: 'POST',
                url: "{% url 'get-single-entity-branch' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'entity_id': entity_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var branches        = data.branches;
                    var branchSelect    = $('.branch');
                    branchSelect.empty();  // Clear previous options
                    branchSelect.append('<option value="" disabled selected>Select Branch</option>');
                    $.each(branches, function (index, branch) {
                        branchSelect.append('<option value="' + branch.id + '">' + branch.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock %}