{% extends "users/layout/app.html" %}
{% block content %}
<style>
    select{
        background-color: #1c1c1c;
        border-radius: 5px;
        color: #9d9b9b;
    }
    table .input{
        border: 1px solid #000 !important;
        height: 28px;
        border-radius: 3px;
    }
    td{
        border: 1px solid #515151 !important;  
    }
</style>

<form class="forms-sample" method="post" enctype="multipart/form-data">
{% csrf_token %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add New Custom Report</h4>
                <p class="card-description">
                Bulid Your Own Custom Reports from here
                </p>
                
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Report Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="date" placeholder="Name" name="report_name" required>
                                    </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Data Table</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 model" id="model" name="table" required>
                                        <option value="" disabled selected>Select Data Table</option>
                                        {% for table in custom_tables %}
                                        <option value="{{table}}">{{table}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div id="formContainer"></div>
                    
                   <input type="hidden" name="length"  id="length">
                   <div class="row" style="height: 10px;">

                   </div>
                   
                
            </div>
        </div>
    </div>
</div>


<div class="col-lg-12 grid-margin stretch-card">
    <div class="card"  style="background: #1c1c1c; box-shadow: none;">
        <div class="card-body">
            <h4 class="card-title">Default Filters</h4>
                <p class="card-description">
                Set Your Default Filters from Here
                </p>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Voucher Types</label>
                        <div class="col-sm-9">
                            <select class="js-example-basic-single w-100 vtype" id="vtype" name="vtype">
                                <option value=""  selected>Select</option>
                                {% for vtype in voucher_types %}
                                    <option value="{{vtype.id}}">{{vtype.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check form-check-primary">
                        <label class="form-check-label">
                            Branch 
                            <input type="checkbox" class="form-check-input checkbox"  id="filter_branch" name="filter_branch">
                        </label>
                    </div>
                </div>
                
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-check form-check-primary">
                        <label class="form-check-label">
                            Entity 
                            <input type="checkbox" class="form-check-input checkbox"  id="filter_entity" name="filter_entity">
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check form-check-primary">
                        <label class="form-check-label">
                            Financial Year
                            <input type="checkbox" class="form-check-input checkbox"  id="filter_financial" name="filter_financial">
                        </label>
                    </div>
                </div>
            </div>
            
            
                
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" name="submit" class="btn btn-primary me-2">Submit</button>
                </div>
            </div>
                
        </div>
           

    </div>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
      
        // additional
            $(document).on('change', '.model', function(event){
                var model = $(this).val();
                $('#formContainer').empty();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'get-table-fields' %}",  // Update the URL based on your Django URL configuration
                    data: {
                        'model': model,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                    },
                    success: function (data) {
                        var data        = data['table_details'];
                        $('#length').val(data['length'])
                        var tableHtml = '<div class="table-responsive">';
                        tableHtml += '<table id="myTable" class="table table-striped addrowtable">';
                        tableHtml += '<thead><tr><th>Add on Report</th><th>Field Name</th><th>Label</th><th>Field Type</th><th>Model Name</th><th>Add Filter</th><th>Fields</th><th>Default</th></tr></thead><tbody>';

                        // Iterate over data to create table rows
                        $.each(data, function(index, item) {
                            console.log(index)
                            tableHtml += '<tr>';
                            tableHtml += '<td><input type="checkbox" class="form-check-input" name="add_on_report_' + index + '"></td>';
                            tableHtml += '<td><input type="text" name="field_name_' + index + '" value="' + item.field_name + '" readonly></td>';
                            tableHtml += '<td><input type="text" name="label_' + index + '" value="'+ item.label + '"  ></td>';
                            tableHtml += '<td><input type="text" name="field_type_' + index + '" value="' + item.field_type + '" readonly></td>';
                            tableHtml += '<td><input type="text" name="model_name_' + index + '" value="' + item.model + '" readonly></td>';
                            tableHtml += '<td><input type="checkbox" class="form-check-input" name="add_filter_' + index + '"></td>';

                            // Create select dropdown for fields
                            tableHtml += '<td><select class="js-example-basic-single w-100" name="fields_' + index + '" id="fields_' + index + '" data-id="' + index + '" >';
                            $.each(item.fields, function(idx, field) {
                                tableHtml += '<option value="' + field + '">' + field + '</option>';
                            });
                            tableHtml += '</select></td>';
                            tableHtml += '<td><input type="text" name="filter_' + index + '"></td>';
                            

                            tableHtml += '</tr>';
                        });

                        tableHtml += '</tbody></table></div>';

                        // Append table to the container
                        $('#formContainer').append(tableHtml);
                },
                
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }});
        });
    });
</script>


{% endblock %}