{% extends "users/layout/app.html" %}
{% block content %}
<form class="forms-sample" action="{% url 'add-branch' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Branch</h4>
                <p class="card-description">
                Add new branch from here
                </p>
               
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch Code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch Code" name="branch_code" value="{{branch_code}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entity</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 entity_id" name="entity_id"  required>
                                        <option value="" disabled selected>Select Entity</option>
                                        {% for x in get_entity %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Address" name="address" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="City" name="city" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <select id="states" name="states" class="js-example-basic-single w-100">
                                        {% for state in state_list %}
                                        <option value="{{state.id}}">{{state.name}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Country" name="country" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Pincode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Pincode" name="pincode" required>
                                </div>
                            </div>
                        </div>


                        <!-- additional -->


                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">DL NO</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="DL NO" name="dlno" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Udyam</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Udyam" name="udyam" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">PAN</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="PAN NUMBER" name="pan" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">FSSAI</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Fssai" name="fssai" required>
                                </div>
                            </div>
                        </div>


                        <!-- end -->
                        









                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gst Treatment</label>
                                <div class="col-sm-9">
                                    <select id="gst" name="gst_treatment" class="js-example-basic-single w-100">
                                        {% for gst_treatment in gst_treatment_list %}
                                        <option value="{{gst_treatment.id}}">{{gst_treatment.name}}</option>
                                        {% endfor%}
                                    </select>     
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">GST</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control gst" id="gst" placeholder="GST Number" name="gst" required>
                                </div>
                            </div>
                        </div>

                    </div>  

                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="exampleInputName1" placeholder="Email" name="email" required>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ph" placeholder="Phone" name="phone" required>
                                </div>
                            </div>
                        </div>

                        

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Logo</label>
                                <div class="col-sm-9">
                                    <input type="file" name="image" class="file-upload-default" id="image">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Logo" style="height: 45px;">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-primary btn-sm" type="button" style="
                                            margin-left: 300px;
                                            margin-top: -6em;
                                        ">Upload</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    
            </div>
        </div>
    </div>


<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                <h4 class="card-title">Bank Account Details</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Holder Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Account Holder Name" name="account_holder">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Account Number" name="account_number">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bank Branch Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch" name="branch_name">
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">IFSC Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Ifsc Code" name="ifsc_code">
                            </div>
                        </div>
                    </div>
                        

                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                

                
            </div>

        </div>
    </div>
</div>

</form>





<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '.entity_id', function(event){
            var entity_id = $(this).val();
            console.log(entity_id)

            $.ajax({
                type: 'POST',
                url: "{% url 'get-entity-gst' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'entity_id': entity_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var gst        = data.gst;
                    $('.gst').val(gst);    
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>

{% endblock %}

