{% extends "users/layout/app.html" %}
{% block content %}
<style>

.w-100{
    width: 400px !important;
}
</style>

<form class="forms-sample" action="{% url 'add-entity' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Entity</h4>
                <p class="card-description">
                Add new entity from here
                </p>
                
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entity Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="type_id" required>
                                        <option value="" disabled selected>Select Entity Type</option>
                                        {% for x in entity_types %}
                                        <option value="{{x.id}}">{{x.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleTextarea1" placeholder="Description" name="description" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Default Branch Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="Branch" placeholder="Default Branch Name" name="branch_name" value="Main " required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Default Godown Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="godown" placeholder="Default Godown Name" name="godown_name" value="Main " required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Default Rack Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="rack" placeholder="Default Rack Name" name="rack_name" value="Main " required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="location_id" required>
                                        <option value="" disabled selected>Select Location</option>
                                        {% for x in location_list %}
                                        <option value="{{x.id}}">{{x.location}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">GST</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="gst" placeholder="GST Number" name="gst" required>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Logo</label>
                                <div class="col-sm-9">
                                    <input type="file" name="image" class="file-upload-default" id="image">
                                    <div class="input-group col-xs-12">
                                        <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Logo" style="height: 45px;">
                                        <span class="input-group-append">
                                            <button class="file-upload-browse btn btn-primary btn-sm" type="button" style="
                                            margin-left: 300px;
                                            margin-top: -6em;
                                        ">Upload</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Address" name="address" required>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- additional -->
                    
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="City" name="city" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <select id="states" name="states" class="js-example-basic-single w-100">
                                        {% for state in state_list %}
                                        <option value="{{state.id}}">{{state.name}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Country" name="country" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Pincode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Pincode" name="pincode" required>
                                </div>
                            </div>
                        </div>


                        <!-- additional -->


                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">DL NO</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="DL NO" name="dlno" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Udyam</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Udyam" name="udyam" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">PAN</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="PAN NUMBER" name="pan" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">FSSAI</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Fssai" name="fssai" required>
                                </div>
                            </div>
                        </div>


                        <!-- end -->
                        

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gst Treatment</label>
                                <div class="col-sm-9">
                                    <select id="gst" name="gst_treatment" class="js-example-basic-single w-100">
                                        {% for gst_treatment in gst_treatment_list %}
                                        <option value="{{gst_treatment.id}}">{{gst_treatment.name}}</option>
                                        {% endfor%}
                                    </select>     
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="exampleInputName1" placeholder="Email" name="email" required>
                                </div>
                            </div>
                        </div>
                        

                    </div>  

                    <div class="row">
                        
                        

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Phone</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="ph" placeholder="Phone" name="phone" required>
                                </div>
                            </div>
                        </div>

                        
                    <!--  additional end -->
                    
                    
            </div>
        </div>
    </div>
</div>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                <h4 class="card-title">Bank Account Details</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Holder Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Account Holder Name" name="account_holder">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Account Number" name="account_number">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bank Branch Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch" name="branch_name">
                            </div>
                        </div>
                    </div>
                
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">IFSC Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Ifsc Code" name="ifsc_code">
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                

                
            </div>

        </div>
    </div>
</div>
</form>


<script>
    $(document).ready(function() {
        $('#Branch').on('input', function() {
            var inputValue = $(this).val();
            
            if (!inputValue.startsWith('Main')) {
                $(this).val('Main ' + inputValue);
            }
        });

        $('#godown').on('input', function() {
            var godown = $(this).val();
            
            if (!godown.startsWith('Main')) {
                $(this).val('Main ' + godown);
            }
        });

        $('#rack').on('input', function() {
            var rack = $(this).val();
            
            if (!rack.startsWith('Main')) {
                $(this).val('Main ' + rack);
            }
        });
    });

</script>
{% endblock %}