{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <!-- <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Accounting Ledger</h4>
                <p class="card-description">
                Add new accounting ledger from here
                </p>
                <form class="forms-sample" action="{% url 'add-accounting-ledger' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="accounting_group_id" required>
                                        <option value="" disabled selected>Select Accounting Group</option>
                                        {% for x in list_all_group %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Opening Balance</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Opening Balance" name="opening_balance">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entry Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="entry_type">
                                        <option value="" disabled selected>Entry Type</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Cr">Cr</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bill by bill</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="bill_by_bill">
                                        <option value="" disabled selected>Bill by bill</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Accounting Ledger</h4>
                <p class="card-description">
                Add new accounting ledger from here
                </p>
                <form class="forms-sample" action="{% url 'add-accounting-ledger' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                Active
                                <input type="checkbox" class="form-check-input"  id="checkBox" name="active" value="true" checked>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entity</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 entity_data" name="entity_id" >
                                        <option value="" disabled selected>Select Entity</option>
                                        {% for x in list_entity %}
                                        <option value="{{x.id}}" {% if x.id|slugify == common_user_data.default_entity_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 
                                     branch" name="branch_id" >
                                        <option value="" disabled selected>Select Branch</option>
                                        {% for x in list_branch %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 " name="location_id">
                                        <option value="" disabled selected>Select Location</option>
                                        {% for x in list_location %}
                                        <option value="{{x.id}}">{{x.location}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label debitor">Customer Code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control debitor" id="exampleInputName1" placeholder="Customer Code" name="customer_code" value="{{customer_code}}">
                                </div>
                            </div>
                        </div> -->
                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 accounting_group_id" name="accounting_group_id" id="accounting_group_id" required>
                                        <option value="" disabled selected>Select Accounting Group</option>
                                        {% for x in list_all_group %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <input type="hidden" name="accounting_group" id="accounting_group">
                            </div>
                        
                        </div>

                        <div class="col-md-6" id="customer_type_id">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 debitor" name="customer_type_id" >
                                        <option value="" disabled selected>Select Customer Type</option>
                                        {% for x in list_customer_type %}
                                        <option value="{{x.id}}">{{x.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6" id="supplier_type_id">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 creditor" name="supplier_type_id">
                                        <option value="" disabled selected>Select Supplier Type</option>
                                        {% for x in list_supplier_type %}
                                        <option value="{{x.id}}">{{x.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group" id="additional">
                            <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                    Show in Additional Expense Section
                                    <input type="checkbox" class="form-check-input"  id="expense" name="additional">
                                </label>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Accounting</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Opening Balance</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Opening Balance" name="opening_balance" value="0">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Entry Type</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single w-100" name="entry_type" required>
                                    <option value="" disabled selected>Entry Type</option>
                                    <option value="Dr">Dr</option>
                                    <option value="Cr">Cr</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bill by bill</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single w-100" name="bill_by_bill">
                                    <option value="" disabled selected>Bill by bill</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Credit Period</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Credit Period" name="credit_period">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Credit Limit</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Credit Limit" name="credit_limit">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Pricing Level</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single w-100 pricing_level" name="pricing_level">
                                    <option value="" disabled selected>Select Pricing Level</option>
                                    {% for x in list_pricing_level %}
                                    <option value="{{x.id}}">{{x.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contact Details</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Address" name="address">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="City" name="city">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="State" name="state">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Country" name="country">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Pincode</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Pincode" name="pincode">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="exampleInputName1" placeholder="Email" name="email">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">phone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Phone" name="phone">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bank</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Account Number" name="account_number">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Branch Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch" name="branch_name">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Branch Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch Code" name="branch_code">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Other</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">CIN</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="CIN" name="cin">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">PAN</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="PAN" name="pan">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">GST</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="GST" name="gst">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <select id="states" name="states" class="js-example-basic-single w-100">
                                    {% for state in state_list %}
                                    <option value="{{state.id}}">{{state.name}}</option>
                                    {% endfor%}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gst Treatment</label>
                            <div class="col-sm-9">
                                <select id="gst" name="gst_treatment" class="js-example-basic-single w-100">
                                    {% for gst_treatment in gst_treatment_list %}
                                    <option value="{{gst_treatment.id}}">{{gst_treatment.name}}</option>
                                    {% endfor%}
                                </select>     
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Aggregate Field</label>
                            <div class="col-sm-9">
                                <select id="aggre" name="sumfield" class="js-example-basic-single w-100">
                                   <option value="total_amount">total_amount</option>
                                   <option value="pretax_amount">pretax_amount</option>
                                </select>     
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                Show Tax
                                <input type="checkbox" class="form-check-input"  id="checkBox" name="showtax">
                            </label>
                        </div>
                    </div>
                </div>
                {% if not get_user_data.user_role_id %}
                <div class="form-group">
                    <div class="form-check form-check-primary">
                        <label class="form-check-label">
                            Set Default

                            <input type="checkbox" class="form-check-input"  id="checkBox" name="default">
                        </label>
                    </div>
                </div>
                {% endif %}

                

                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#customer_type_id').hide();
        $('#supplier_type_id').hide();
        $('#additional').hide()
       


        function checkConditions() {
            var selectedName = $('select[name="accounting_group_id"]').find('option:selected').text();
            $('#customer_type_id').hide();
            $('#supplier_type_id').hide();
            $('.customer_type_id').prop('required', false);
            $('.supplier_type_id').prop('required', false);

            console.log(selectedName)            
            if (selectedName === 'Sundry Debtors') {
                $('#customer_type_id').show();
                $('.debitor').prop('required', true);
                $('.creditor').prop('required', false);


            }
            else if (selectedName === 'Sundry Creditors') {
                $('#supplier_type_id').show();
                $('.creditor').prop('required', true);
                $('.debitor').prop('required', false);

                console.log("cred")


            }
        }

// onchange  call check nature to display additional,call checkcondition function to type field visible
        $('select[name="accounting_group_id"]').change(function() {
            var selectedName = $(this).find('option:selected').text();
            var accgroup      =$(this).val()
            console.log(accgroup)
            console.log("######")
            $('#accounting_group').val(selectedName);
            checkConditions()
            if (selectedName === 'Sundry Debtors') {
                $('.debitor').prop('required', true);
                
    
            } else {
                $('.debitor').prop('required', false);
            }

            $.ajax({
                type: 'POST',
                url: "{% url 'get-account-nature' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'accgroup': accgroup,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var nature        = data
                    console.log(nature)
                   console.log(nature['expense']) 
                   if(nature['expense']){

                    $('#additional').show()

        
                   } 
                   else{
                    $('#expense').prop("checked",false)
                    $('#additional').hide()

                   }
                    
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            
        });
    });

</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '.entity_data', function(event){
            var entity_id = $(this).val();

            $.ajax({
                type: 'POST',
                url: "{% url 'get-single-entity-branch' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'entity_id': entity_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var branches        = data.branches;
                    var branchSelect    = $('.branch');
                    branchSelect.empty();  // Clear previous options
                    branchSelect.append('<option value="" disabled selected>Select Branch</option>');
                    $.each(branches, function (index, branch) {
                        branchSelect.append('<option value="' + branch.id + '">' + branch.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       

        // additional
        $(document).on('change', '.branch', function(event){
            var branch_id = $(this).val();
            console.log(branch_id)

            $.ajax({
                type: 'POST',
                url: "{% url 'get-pricing-level' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'branch': branch_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var pricing_levels        = data.data;
                    console.log(pricing_levels)
                    var pricing_level_select    = $('.pricing_level');
                    pricing_level_select.empty();  // Clear previous options
                    pricing_level_select.append('<option value="" disabled selected>Select Pricing Level</option>');
                    $.each(pricing_levels, function (index, pricing_level) {
                        pricing_level_select.append('<option value="' + pricing_level.id + '">' + pricing_level.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
            $.ajax({
                type: 'POST',
                url: "{% url 'get-accounting-group' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'branch': branch_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var accgroup        = data.group_list;
                    var accgroup_select    = $('.accounting_group_id');
                    accgroup_select.empty();  // Clear previous options
                    accgroup_select.append('<option value="" disabled selected>Select Accounting Group</option>');
                    $.each(accgroup, function (index, accgroup) {
                        accgroup_select.append('<option value="' + accgroup.id + '">' + accgroup.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });






        });

        // additional end
    });
</script>
{% endblock %}