{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Tax</h4>
                <p class="card-description">
                Add new tax from here
                </p>
                <form class="forms-sample" action="{% url 'add-tax-data' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entity</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 entity_data" name="entity_id" required>
                                        <option value="" disabled selected>Select Entity</option>
                                        {% for x in list_entity %}
                                        <option value="{{x.id}}" {% if x.id|slugify == common_user_data.default_entity_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 branch" name="branch_id" required>
                                        <option value="" disabled selected>Select Branch</option>
                                        {% for x in list_branch %}
                                        <option value="{{x.id}}">{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">tax</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Tax" name="tax" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Rate(%)</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Rate(%)" name="rate_perc" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Description</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="exampleTextarea1" placeholder="Description" name="description" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '.entity_data', function(event){
            var entity_id = $(this).val();

            $.ajax({
                type: 'POST',
                url: "{% url 'get-single-entity-branch' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'entity_id': entity_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var branches        = data.branches;
                    var branchSelect    = $('.branch');
                    branchSelect.empty();  // Clear previous options
                    branchSelect.append('<option value="" disabled selected>Select Branch</option>');
                    $.each(branches, function (index, branch) {
                        branchSelect.append('<option value="' + branch.id + '">' + branch.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>
{% endblock %}