

{% extends "users/layout/app.html" %}
{% block content %}
<!-- 
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Accounting Group</h4>
                <p class="card-description">
                Update accounting group from here
                </p>
                <form class="forms-sample" action="{% url 'update-accounting-ledger' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{get_data.id}}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" value="{{get_data.name}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="accounting_group_id" required>
                                        <option value="" disabled selected>Select Accounting Group</option>
                                        {% for x in list_all_group %}
                                        <option value="{{x.id}}" {% if x.id|slugify == get_data.accounting_group_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Opening Balance</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Opening Balance" name="opening_balance" value="{{get_data.opening_balance}}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entry Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="entry_type">
                                        <option value="" disabled selected>Entry Type</option>
                                        <option value="Dr" {% if get_data.entry_type == 'Dr' %} selected {% endif %}>Dr</option>
                                        <option value="Cr" {% if get_data.entry_type == 'Cr' %} selected {% endif %}>Cr</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Bill by bill</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="bill_by_bill">
                                        <option value="" disabled selected>Bill by bill</option>
                                        <option value="Yes" {% if get_data.bill_by_bill == 'Yes' %} selected {% endif %}>Yes</option>
                                        <option value="No" {% if get_data.bill_by_bill == 'No' %} selected {% endif %}>No</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
 -->
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Accounting Ledger</h4>
                <p class="card-description">
                Update Accounting Ledger from here
                </p>
                <form class="forms-sample"  method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="acid" value="{{get_data.id}}">
                    <div class="form-group">
                        <div class="form-check form-check-primary">
                            <label class="form-check-label">
                                Active
                                <input type="checkbox" class="form-check-input"  id="checkBox" name="active" value="true" {% if customer_get_data.active == True %} checked {% endif %}>
                            </label>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entity</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 entity_data" name="entity_id"  required>
                                        <option value="" disabled>Select Entity</option>
                                        {% for x in list_entity %}
                                        <option value="{{x.id}}" {% if x.id|slugify == get_data.entity_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100 branch" name="branch_id" required>
                                        <option value="" disabled selected>Select Branch</option>
                                        {% for x in list_branch %}
                                        <option value="{{x.id}}" {% if x.id|slugify == get_data.branch_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        {% if customer_get_data %}
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="customer_type_id" required>
                                        <option value="" disabled selected>Select Customer Type</option>
                                        {% for x in list_customer_type %}
                                        <option value="{{x.id}}" {% if x.id|slugify == customer_get_data.customer_type_id.id|slugify %} selected {% endif %}>{{x.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Customer Code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Customer Code" name="customer_code" value="{{customer_get_data.customer_code}}" readonly>
                                </div>
                            </div>
                        </div>
                        {% elif supplier_get_data %}
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="supplier_type_id" required>
                                        <option value="" disabled selected>Select Supplier Type</option>
                                        {% for x in list_supplier_type %}
                                        <option value="{{x.id}}" {% if x.id|slugify == supplier_get_data.supplier_type_id.id|slugify %} selected {% endif %}>{{supplier_get_data.supplier_type_id.id}} || {{x.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Supplier Code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Supplier Code" name="supplier_code" value="{{supplier_get_data.supplier_code}}" readonly >
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        
                    </div>
                    

                    
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" value="{{get_data.name}}" required>
                                </div>
                            </div>
                        </div>
                        

                        
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="accounting_group_id" required>
                                        <option value="" disabled selected>Select Accounting Group</option>
                                        {% for x in list_all_group %}
                                        <option value="{{x.id}}" {% if x.id|slugify == get_data.accounting_group_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6" style="display: none;">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="location_id">
                                        <option value="" disabled selected>Select Location</option>
                                        {% for x in list_location %}
                                        <option value="{{x.id}}" {% if x.id|slugify == customer_get_data.location_id.id|slugify %} selected {% endif %}>{{x.location}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="form-group" id="additional">
                            <div class="form-check form-check-primary">
                                <label class="form-check-label">
                                    Show in Additional Expense Section
                                    <input type="checkbox" class="form-check-input"  id="expense" name="additional" {% if get_data.additional_expense %} checked {% endif%}>
                                </label>
                            </div>
                        </div>
                    </div> 
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Accounting</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Opening Balance</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Opening Balance" name="opening_balance" value="{{get_data.opening_balance}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Entry Type</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single w-100" name="entry_type" required>
                                    <option value="" disabled selected>Entry Type</option>
                                    <option value="Dr" {% if get_data.entry_type == 'Dr' %} selected {% endif %}>Dr</option>
                                    <option value="Cr" {% if get_data.entry_type == 'Cr' %} selected {% endif %}>Cr</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Bill by bill</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single w-100" name="bill_by_bill">
                                    <option value="" disabled selected>Bill by bill</option>
                                    <option value="Yes" {% if get_data.bill_by_bill == 'Yes' %} selected {% endif %}>Yes</option>
                                    <option value="No" {% if get_data.bill_by_bill == 'No' %} selected {% endif %}>No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Credit Period</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Credit Period" name="credit_period" value="{{get_data.credit_period}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Credit Limit</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Credit Limit" name="credit_limit" value="{{get_data.credit_limit}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Pricing Level</label>
                            <div class="col-sm-9">
                                <select class="js-example-basic-single w-100 pricing_level" name="pricing_level" required>
                                    <option value="" disabled selected>Select Pricing Level</option>
                                    {% for x in list_pricing_level %}
                                    <option value="{{x.id}}" {% if x.id|slugify == get_data.pricing_level.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Current Balance</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="current_bal" placeholder="Current Balance" name="curret_balance" value="{{get_data.opening_balance}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Contact Details</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Address</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Address" name="address" value="{{commondata.address}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="City" name="city" value="{{commondata.city}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="State" name="state" value="{{commondata.state}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Country</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Country" name="country" value="{{commondata.country}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Pincode</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Pincode" name="pincode" value="{{commondata.pincode}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="exampleInputName1" placeholder="Email" name="email" value="{{commondata.email}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">phone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Phone" name="phone" value="{{commondata.phone}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Bank</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Account Number</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Account Number" name="account_number" value="{{commondata.account_number}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Branch Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch Name" name="branch_name" value="{{commondata.branch_name}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Branch Code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="Branch Code" name="branch_code" value="{{commondata.branch_code}}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Other</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">CIN</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="CIN" name="cin" value="{{commondata.cin}}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">PAN</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="PAN" name="pan" value="{{commondata.pan}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">GST</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="exampleInputName1" placeholder="GST" name="gst" value="{{commondata.gst}}">
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">State</label>
                            <div class="col-sm-9">
                                <select id="states" name="states" class="js-example-basic-single w-100">
                                    {% for state in state_list %}
                                        {% if customer_get_data %}
                                            <option value="{{state.id}}" {% if state.id|slugify == customer_get_data.state_code|slugify %} selected {% endif %}>{{state.name}}</option>
                                        {% elif supplier_get_data %}
                                            <option value="{{state.id}}" {% if state.id|slugify == supplier_get_data.state_code|slugify %} selected {% endif %}>{{state.name}}</option>
                                        {% endif %}
                                    {% endfor%}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Gst Treatment</label>
                            <div class="col-sm-9">
                                <select id="gst" name="gst_treatment" class="js-example-basic-single w-100">
                                    {% for gst_treatment in gst_treatment_list %}

                                    <option value="{{gst_treatment.id}}" {% if gst_treatment.id|slugify == commondata.gst_treatment.id|slugify %} selected {% endif %}> {{gst_treatment.name}}</option>
                                    {% endfor%}
                                </select>     
                            </div>
                        </div>
                    </div>
                </div>
                {% if not get_user_data.user_role_id %}
                <div class="form-group">
                    <div class="form-check form-check-primary">
                        <label class="form-check-label">
                            Set Default

                            <input type="checkbox" class="form-check-input"  id="checkBox" name="default" {% if get_data.is_default %} checked {% endif%}>
                        </label>
                    </div>
                </div>
                {% endif %}

                <button type="submit" class="btn btn-primary me-2">Submit</button>
            </form>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // balance check
        var value = $('#acid').val();
        console.log(value);
        $.ajax({
                type: 'POST',
                url: "{% url 'get-AccountLedger-balance' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'ledger_id': value,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var balance        = data
                    $('#current_bal').val = balance   
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });



        
        $('#additional').hide()
       
        function checkConditions() {
            var accgroup      =$('select[name="accounting_group_id"]').val()
            console.log(accgroup)
            
            $.ajax({
                type: 'POST',
                url: "{% url 'get-account-nature' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'accgroup': accgroup,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var nature        = data
                    console.log(nature)
                   console.log(nature['expense']) 
                   if(nature['expense']){

                    $('#additional').show()
        
                   } 
                   else{
                    $('#expense').prop("checked",false)
                    $('#additional').hide()

                   }
                    
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        checkConditions()
// onchange  call check nature to display additional,call checkcondition function to type field visible
        $('select[name="accounting_group_id"]').change(function() {
            
            checkConditions()
            
        });
    });

</script>



<script type="text/javascript">
    $(document).ready(function () {
        $(document).on('change', '.entity_data', function(event){
            var entity_id = $(this).val();

            $.ajax({
                type: 'POST',
                url: "{% url 'get-single-entity-branch' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'entity_id': entity_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var branches        = data.branches;
                    var branchSelect    = $('.branch');
                    branchSelect.empty();  // Clear previous options
                    branchSelect.append('<option value="" disabled>Select Branch</option>');
                    $.each(branches, function (index, branch) {
                        branchSelect.append('<option value="' + branch.id + '">' + branch.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });
    });
</script>




<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
       

        // additional
        $(document).on('change', '.branch', function(event){
            var branch_id = $(this).val();
            console.log(branch_id)

            $.ajax({
                type: 'POST',
                url: "{% url 'get-pricing-level' %}",  // Update the URL based on your Django URL configuration
                data: {
                    'branch': branch_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'  // Ensure to include CSRF token
                },
                success: function (data) {
                    var pricing_levels        = data.data;
                    console.log(pricing_levels)
                    var pricing_level_select    = $('.pricing_level');
                    pricing_level_select.empty();  // Clear previous options
                    pricing_level_select.append('<option value="" disabled selected>Select Pricing Level</option>');
                    $.each(pricing_levels, function (index, pricing_level) {
                        pricing_level_select.append('<option value="' + pricing_level.id + '">' + pricing_level.name + '</option>');
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        // additional end
    });
</script>
{% endblock %}