{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Branch</h4>
                <p class="card-description">
                Update branch from here
                </p>
                <form class="forms-sample" action="{% url 'update-branch' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{get_branch_data.id}}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="name" value="{{get_branch_data.name}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Branch Code</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Name" name="branch_code" value="{{get_branch_data.branch_code}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Entity</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="entity_id" required>
                                        <option value="" disabled selected>Select Entity</option>
                                        {% for x in entity_data %}
                                        <option value="{{x.id}}" {% if x.id|slugify == get_branch_data.entity_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Address</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Address" name="address" value="{{get_branch_data.address}}" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="City" name="city" value="{{get_branch_data.city}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">State</label>
                                <div class="col-sm-9">
                                    <select id="states" name="states" class="js-example-basic-single w-100">
                                        {% for state in state_list %}
        
                                        <option value="{{state.id}}" {% if state.id|slugify == get_branch_data.state|slugify %} selected {% endif %}>{{state.name}}</option>
                                        {% endfor%}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Country</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Country" name="country" value="{{get_branch_data.country}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Pincode</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Pincode" name="pincode" value="{{get_branch_data.pincode}}" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gst Treatment</label>
                                <div class="col-sm-9">
                                    <select id="gst" name="gst_treatment" class="js-example-basic-single w-100">
                                        {% for gst_treatment in gst_treatment_list %}
    
                                        <option value="{{gst_treatment.id}}" {% if gst_treatment.id|slugify == get_branch_data.gst_treatment.id|slugify %} selected {% endif %}>{{gst_treatment.name}}</option>
                                        {% endfor%}
                                    </select>     
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary me-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}