{% extends "users/layout/app.html" %}
{% block content %}
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">View Golden Rule</h4>
                <p class="card-description">
                    View golden rule from here
                </p>
                <form class="forms-sample" action="{% url 'update-golden-rule' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{get_data.id}}">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Voucher Type</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-single w-100" name="voucher_type_id" required>
                                        <option value="" disabled selected>Select Voucher Type</option>
                                        {% for x in list_voucher_types %}
                                        <option value="{{x.id}}" {% if x.id|slugify == get_data.voucher_type_id.id|slugify %} selected {% endif %}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Debit Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple w-100"  multiple="multiple" name="debit_accounting_group_ids[]" required>
                                        <option value="" disabled>Select Debit Accounting Group</option>
                                        {% for x in get_data.accounting_group_ids %}
                                        <option value="{{x.id}}" {{x.selected}}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Credit Accounting Group</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple w-100"  multiple="multiple" name="credit_accounting_group_ids[]" required>
                                        <option value="" disabled>Select Credit Accounting Group</option>
                                        {% for x in get_data.credit_accounting_group_ids %}
                                        <option value="{{x.id}}" {{x.selected}}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Debit Accounting Ledgers</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple w-100"  multiple="multiple" name="debit_accounting_ldeger_ids[]" >
                                        <option value="" disabled>Select Ledger</option>
                                        {% for x in debit_accounts %}
                                        <option value="{{x.id}}" {{x.selected}}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Credit Accounting Ledgers</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple w-100"  multiple="multiple" name="credit_accounting_ldeger_ids[]" >
                                        <option value="" disabled>Select Ledgers</option>
                                        {% for x in credit_accounts %}
                                        <option value="{{x.id}}" {{x.selected}}>{{x.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}