<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
                    /* styles.css */
            h1 {
                color: black;
                font-family: Arial;
            }

            p {
                font-size: 16px;
            }

            .border
            {
                border: solid 1px #000;
            }

            body {
                font-family: Arial, sans-serif;
            }

            table {
            width: 100%;
            border-collapse: collapse;
            }

        td {
            border-right: 1px solid white;
            border-left: 1px solid white;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            text-align: left;
            padding: 8px;
        }
            
        th {
            border-right: none;
            border-left: none;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            text-align: left;
            padding: 8px;
            background-color: rgb(233, 232, 232);
        }
        
       

    </style>
</head>
<body>
    




          
            <h1 style="text-align: center;">GSTR 3B Report</h4>
               
            <div style="height: 20px;">
                
               

                
            <label style="color: white;">1.Details of outward supplies and inward supplies liable to reverse charge</label> 
                

           
                <table>
                    <thead>
                        <tr>
                            <th>Nature Of supplies</th>
                            <th>Total taxbale value</th>
                            <th>Integrated Tax</th>
                            <th>Central tax</th>
                            <th>State/UT Tax</th>
                            <th> Cess</th>
                            <th>Place of Supply</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Outward taxable supplies (other than zero rated,<br>
                                nil rated and exempted)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Outward taxable supplies (zero rated)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Other outward supplies (nil rated, exempted)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Inward supplies (liable to reverse charge)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Non-GST outward supplies</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>

                    
                </table>
               

            <div style="height: 20px;">
                
            </div>


           
                <label style="color: white;">2.Details of inter-State supplies made to unregistered persons, composition dealer and UIN
                    holders</label> 
           
            <div style="height: 20px;">
                
            </div>

           
                <table>
                    <thead>
                        <tr>
                            <th rowspan="2">Place of supply (State/UT)</th>
                            <th colspan="2">Supplies made to unregistered persons</th>
                            <th colspan="2">Supplies made to composition taxable persons</th>
                            <th colspan="2">Supplies made to UIN
                                holders</th>
                        </tr>
                        <tr>
                            <th>Total taxable value</th>
                            <th>Amount of integrated tax</th>
                            <th>Total taxable  value</th>
                            <th>Amount of integrated tax</th>
                            <th>Total  taxable  value</th>
                            <th> Amount  of integrated tax</th>    
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        
                    </thead>

                    
                </table>
                
             <!-- second table end -->

             <div style="height: 20px;">
                
             </div>

             <!-- third table -->
                <label style="color: white;">3. Details of eligible Input Tax Credit</label> 

            <div style="height: 20px;">
                
            </div>

           
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>Details</th>
                            <th>Integrated Tax</th>
                            <th>Central Tax</th>
                            <th>State/UT Tax</th>
                            <th>Cess</th>
                        </tr>
                        <tr>
                           <td>(A) ITC Available (whether in full or part)</td>
                           <td></td> 
                           <td></td> 
                           <td></td> 
                           <td></td> 

                        </tr>
                        <tr>
                            <td> &emsp14;(1) Import of goods</td>
                            <td></td> 
                            <td> </td> 
                            <td> </td> 
                            <td> </td> 
 
                         </tr>

                         <tr>
                            <td>&emsp14;(2) Import of services</td>
                            <td></td> 
                            <td> </td> 
                            <td> </td> 
                            <td></td> 
 
                         </tr>

                         <tr>
                            <td>&emsp14;(3) Inward supplies liable to reverse charge
                                (other than 1 & 2 above)</td>
                                <td></td> 
                                <td> </td> 
                                <td> </td> 
                                <td></td> 
 
                         </tr>

                         <tr>
                            <td>&emsp14;(4) Inward supplies from ISD</td>
                            <td></td> 
                            <td> </td> 
                            <td> </td> 
                            <td></td> 
 
                         </tr>
                         <tr>
                            <td>&emsp14;(5) All other ITC</td>
                            <td></td> 
                            <td> </td> 
                            <td> </td> 
                            <td></td> 
 
                         </tr>
                         
                        
                        
                    </thead>

                    
                </table>
                
            <!-- Third table end -->

            <div style="height: 20px;">
                
            </div>

            <!-- fourth table -->

              
                <label style="color: white;">4. Details of exempt, nil-rated and non-GST inward supplies</label> 
           
            <div style="height: 20px;">
                
            </div>

           
               
                <table class="table table-striped" >
                    <thead>
                        <tr>
                            <th>Nature of supplies</th>
                            <th>Inter-State supplies</th>
                            <th>Intra-State supplies</th>
                            
                        </tr>
                        <tr>
                           <td>From a supplier under composition scheme, Exempt and Nil
                            rated supply</td>
                           <td></td> 
                           <td></td> 
                        
                        </tr>
                        <tr>
                            <td>Non GST supply</td>
                               <td></td> 
                               <td></td>    
                        </tr>
                                
                    </thead>

                    
                </table>
                
          


            <!-- end of fourth -->
   


</body>
</html>

